<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-input (ionChange)="filterByName($event)" placeholder="Filter by name"></ion-input>
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-select (ionChange)="filterByRegion($event)" placeholder="Filter by region">
          <ion-select-option *ngFor="let region of _listadoRegiones" value="{{region.id}}"> {{ region.nombre}}</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" *ngFor="let item of _listadoView" class="border-bottom">
        <h4 innerHtml="{{item.nombre}} {{item.apellido}}"></h4>
        <p class="gris">
            <b>RUT:</b> {{item.rut}} <ion-icon name="{{item.validacionRutIcon}}" color="{{item.validacionRutColor}}"></ion-icon> <br> 
            <b>Teléfono: </b> {{item.telefono}} <ion-icon name="{{item.validacionTelfIcon}}" color="{{item.validacionTelfColor}}"></ion-icon> <br>
            <b> Dirección: </b>{{item.direccion.calle}} {{item.direccion.numero}},
            {{ item.direccion.comuna.nombre}}, <b> Región {{ item.direccion.region.nombre }}</b>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
